# ==============================================================================
# DATA REGISTRY
# ==============================================================================
# data/1_raw/*
# data/2_interim/*
data/3_processed/*
!data/**/.gitkeep
# ==============================================================================
# MACHINE LEARNING ARTIFACTS (Ignore large serialized models)
# ==============================================================================
saved_models/*
!saved_models/.gitkeep
*.pkl
*.pickle
*.joblib
*.pt
*.pth
*.h5

# ==============================================================================
# PYTHON ENVIRONMENT & RUNTIME
# ==============================================================================
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
interface/

# ==============================================================================
# JUPYTER NOTEBOOKS
# ==============================================================================
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# ==============================================================================
# OPERATING SYSTEM SPECIFICS
# ==============================================================================
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# ==============================================================================
# IDEs / EDITORS
# ==============================================================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp